* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 22px;
  background-color: gray;
}

.teste {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}

